@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Signika:wght@300..700&display=swap");

.cfContainer {
  margin-top: 6vmax;
}

.about {
  font-family: "Maven Pro", sans-serif;
  font-size: 2.5vmax;
  position: absolute;
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #dafaf4 0.89%,
    #68e9d1 17.23%,
    #a1fbeb 55.12%,
    #8afee9 71.54%,
    #a7dbf2 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.aboutContainer {
  display: flex;
  margin: 4vmax auto 10vmax auto;
  justify-content: center;
}

.about::after {
  display: block;
  width: 100%;
  content: "";
  position: relative;
  height: 2px;
  background-color: #79ffe7;
  top: 0.375vmax;
  transition: 0.9s;
  margin: auto;
}

.about:hover::after {
  width: 0px;
}

.timeline {
  position: relative;
  max-width: 75vmax;
  margin: 6.25vmax auto;
}

.container {
  padding: 0.625vmax 3.125vmax;
  position: relative;
  width: 50%;
  height: 22vmax;
  animation: movedown 1s linear forwards;
  opacity: 1;
  /* background-color: red; */
}

@keyframes movedown {
  0% {
      opacity: 1;
      transform: translateY(-1.875vmax);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }   
}

.text-box {
  padding: 0.625vmax 3.125vmax;
  background-color: white;
  position: relative;
  border-radius: 6px;
  font-size: 1vmax;
  background: linear-gradient(
  331deg,
  #42464c -15.56%,
  #283246 12.53%,
  #182237 33.61%
);
  border: 3px groove #A7DBF2;
  width: auto;
  height: 16vmax;
}

.text-boxOfc {
  height: 17.5vmax;
  border: 3px groove #A7DBF2;
}

.container:nth-child(1) {
  animation-delay: 0s;
}

.container:nth-child(2) {
  animation-delay: 1s;
}

.container:nth-child(3) {
  animation-delay: 2s;
}

.container:nth-child(4) {
  animation-delay: 3s;
}

.hoverCF:hover {
  animation: glowingShadow 2s infinite alternate;
  box-shadow: 10px 1px 100px #5E9CBF;
}

@keyframes glowingShadow {
  0% {
    box-shadow: 0 0 5px rgba(121, 255, 231, 0.2);
  }
  50% {
    box-shadow: 0 0 30px rgba(121, 255, 231, 0.8);
  }
  100% {
    box-shadow: 0 0 5px rgba(121, 255, 231, 0.2);
  }
}

.h1OfCF {
  font-size: 1.3vmax;
  color: #A7DBF2;
  font-weight: 600;
  margin: 1.2vmax 0vmax;
}

.text-box p {
  font-family: "Signika";
  font-size: 1.2vmax;
  line-height: 2vmax;
  color: white;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.cfImg {
  position: absolute;
  width: 3.75vmax;
  height: auto;
  border-radius: 50%;
  right: -5.1875vmax;
  top: 2vmax;
  z-index: 10;
}

.rightImg {
  left: -5.1875vmax;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 0.375vmax;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 4s linear forwards;
}

@keyframes moveline {
  0% {
      height: 0;
  }
  100% {
      height: 100%;
  }
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 2.8125vmax;
  z-index: 1;
  border-top: 1vmax solid transparent;
  border-bottom: 1vmax solid transparent;
  border-left: 1vmax solid #5E9CBF;
  right: -1.125vmax;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 2.8125vmax;
  z-index: 1;
  border-top: 1vmax solid transparent;
  border-bottom: 1vmax solid transparent;
  border-right: 1vmax solid #718391;
  left: -1.125vmax;
}

@media screen and (max-width: 700px) {
  .text-box {
    margin-left: 1rem;
  }

  .timeline {
    margin: 50px auto;
  }

  .timeline::after{
    left: 46px;
  }

  .container {
    width: 90%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box {
    font-size: 13px;
  }

  .text-box p {
    margin-bottom: 1rem;
  }

  .right-container {
    left: 0;
  }

  .cfImg {
    left: -67px;
  }

  .left-container-arrow, .right-container-arrow {
    border-right: 16px solid #fff;
    border-left: 0;
    left: -17px;
  }

  .container, .text-box {
    height: auto;
  }
}