.footer {
  width: 100%;
  position: relative;
}

.footer div {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: -0.3125vmax 0px 0px 0px;
  padding: 0px;
  color: #fff;
  text-align: center;
  color: transparent;
  background: linear-gradient(
    to left,
    #A7DBF2,
    #5E9CBF,
    #427FA3,
    #A7DBF2,
    #5E9CBF,
    #A7DBF2
  );
  background-size: 1000px 100%;
  animation: bg 30s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
}

.footerh3 {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.6vmax;
  font-weight: 500;
}

@keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}

@media screen and (max-width: 700px) { 
  .footerh3 {
    font-size: 2.2vw;
  }
}
