.hero {
  width: 100%;
  margin: auto;
}

.heroContentContainer {
  padding-top: 3vmax;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 7vw;
}

.heroText {
  padding: 0rem 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heroImg {
  width: 23vw;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.pulsingHeroImg {
  border-radius: 50%;
  animation: pulse 4s infinite;
  transition: transform 0.3s ease-in-out;
}

@keyframes pulse {
  0%, 100% {
    box-shadow: 0 0 10px rgb(189, 235, 250);
  }
  50% {
    box-shadow: 0 0 40px rgba(17, 188, 218, 0.7);
  }
}

.heroTexth2 {
  font-family: "Maven Pro", sans-serif;
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #dafaf4 0.89%,
    #68e9d1 17.23%,
    #a1fbeb 55.12%,
    #8afee9 71.54%,
    #a7dbf2 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 3vmax;
  margin-bottom: 2vmax;
  font-weight: 100;
}

.heroTextp {
  display: flex;
  flex-wrap: wrap;
  font-family: "Maven Pro", sans-serif;
  color: white;
  font-size: 1.4vmax;
  line-height: 1.8vmax;
  max-width: 42rem;
}

.svgContainer {
  margin-top: 4.7vmax;
}

svg {
  width: 100%;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count: infinite;
  fill: #4478e3;
}

.drop {
  fill: transparent;
  animation: drop 5s ease infinite normal;
  stroke: #4478e3;
  stroke-width: 0.5;
  opacity: 0.6;
  transform: translateY(80%);
}

.drop1 {
  transform-origin: 1.25vmax 3px;
}

.drop2 {
  animation-delay: 3s;
  animation-duration: 3s;
  transform-origin: 1.56vmax 3px;
}

.drop3 {
  animation-delay: -2s;
  animation-duration: 3.4s;
  transform-origin: 1vmax 3px;
}

.gooeff {
  filter: url(#goo);
}

#wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: 0.6;
}

#wave3 {
  animation-duration: 7s;
  opacity: 0.3;
}

@keyframes drop {
  0% {
    transform: translateY(80%);
    opacity: 0.6;
  }

  80% {
    transform: translateY(80%);
    opacity: 0.6;
  }

  90% {
    transform: translateY(10%);
    opacity: 0.6;
  }

  100% {
    transform: translateY(0%) scale(1.5);
    stroke-width: 0.2;
    opacity: 0;
  }
}

@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}

.star1 {
  position: absolute;
  height: 5vmax;
  width: 1px;
  background: rgb(94, 159, 243);
  box-shadow: rgb(45, 104, 189) 0px 0px 10px 2px;
  animation: 1700ms ease-in-out 0s infinite normal none running starAnimation;
  bottom: 50%;
  left: 15%;
  height: 7.5vmax;
  animation-delay: -2.3s;
}

.star1::before {
  content: "";
  background: url("../../../public/shooting_star.png") center center / contain;
  position: absolute;
  width: 3.75vmax;
  height: 5vmax;
  top: 0vmax;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.star2 {
  position: absolute;
  width: 1px;
  background: rgb(94, 159, 243);
  box-shadow: rgb(45, 104, 189) 0px 0px 10px 2px;
  animation: 1700ms ease-in-out 0s infinite normal none running starAnimation;
  bottom: 20%;
  left: 40%;
  height: 11.25vmax;
  animation-duration: 1900ms;
  animation-delay: -1s;
}

.star2::before {
  content: "";
  background: url("../../../public/shooting_star.png") center center / contain;
  position: absolute;
  width: 3.75vmax;
  height: 5vmax;
  top: 0vmax;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.star3 {
  position: absolute;
  width: 1px;
  background: rgb(94, 159, 243);
  box-shadow: rgb(45, 104, 189) 0px 0px 10px 2px;
  animation: 1700ms ease-in-out 0s infinite normal none running starAnimation;
  bottom: 20%;
  right: 40%;
  height: 11.25vmax;
  animation-duration: 1900ms;
  animation-delay: -2s;
}

.star3::before {
  content: "";
  background: url("../../../public/shooting_star.png") center center / contain;
  position: absolute;
  width: 3.75vmax;
  height: 5vmax;
  top: 0vmax;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.star4 {
  position: absolute;
  width: 1px;
  background: rgb(94, 159, 243);
  box-shadow: rgb(45, 104, 189) 0px 0px 10px 2px;
  animation: 1700ms ease-in-out 0s infinite normal none running starAnimation;
  bottom: 50%;
  right: 5%;
  height: 11.25vmax;
  animation-duration: 1900ms;
  animation-delay: -300ms;
}

.star4::before {
  content: "";
  background: url("../../../public/shooting_star.png") center center / contain;
  position: absolute;
  width: 3.75vmax;
  height: 5vmax;
  top: 0vmax;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

@keyframes starAnimation {
  0% {
    transform: translateY(0vmax);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translateY(-37.5vmax);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 700px) {
  .heroTexth2 {
    font-size: 3.8vw;
  }

  .heroTextp {
    font-size: 1.5vmax;
  }

  .star1 {
    bottom: 65%;
    left: 15%;
  }

  .star2 {
    bottom: 90%;
    left: 40%;
  }

  .star3 {
    bottom: 90%;
    right: 40%;
  }

  .star4 {
    bottom: 65%;
    right: 5%;
  }
}

@media screen and (max-width: 1300px) {
  .star1 {
    bottom: 65%;
    left: 15%;
  }

  .star2 {
    bottom: 40%;
    left: 40%;
  }

  .star3 {
    bottom: 40%;
    right: 40%;
  }

  .star4 {
    bottom: 65%;
    right: 5%;
  }
}

@media screen and (max-width: 1000px) {
  .star1 {
    bottom: 70%;
    left: 15%;
  }

  .star2 {
    bottom: 55%;
    left: 40%;
  }

  .star3 {
    bottom: 55%;
    right: 40%;
  }

  .star4 {
    bottom: 70%;
    right: 5%;
  }
}