.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.3vmax;
  padding-left: 8vmax;
}

.imgContainer {
  display: flex;
  align-items: center;
  gap: 1vw;
  text-decoration: none;
}

.headerImg {
  width: 4.2vw;
  height: auto;
  border-radius: 50%;
}

.navHeader {
    margin-bottom: 0.375vmax;
    font-family: "Maven Pro", sans-serif;
    font-weight: 600;
    font-size: 2.3vmax;
    color: transparent;
    background: linear-gradient(
      to left,
      #A7DBF2,
      #5E9CBF,
      #427FA3,
      #A7DBF2,
      #5E9CBF,
      #A7DBF2
    );
    background-size: 1000px 100%;
    animation: bg 25s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
}
  
@keyframes bg {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 10000px;
    }
}

@media screen and (max-width: 700px){
  .navHeader { 
    font-size: 3.8vw;
  }

  .headerImg {
    width: 7vw;
    height: auto;
  }

  .navbar {
    padding-left: 5vmax;
  }
}

@media screen and (max-width: 900px){
  .navHeader { 
    font-size: 3.2vw;
  }

  .headerImg {
    width: 6vw;
    height: auto;
  }

  .navbar {
    padding-left: 5vmax;
  }
}

@media screen and (max-width: 400px){
  .navHeader { 
    font-size: 3.8vw;
  }

  .headerImg {
    width: 7vw;
    height: auto;
  }

  .navbar {
    padding-left: 4.5vmax;
  }
}