.containerMain {
  width: 100%;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8); */
  /* background: linear-gradient(to right, #28004b, #00285f); */
}

.about2{
  font-family: "Maven Pro", sans-serif;
  font-size: 40px;
  position: absolute;
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #dafaf4 0.89%,
    #68e9d1 17.23%,
    #a1fbeb 55.12%,
    #8afee9 71.54%,
    #a7dbf2 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.aboutContainer2{
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  margin-bottom: 9rem;
}

.about2::after {
  display: block;
  width: 100%;
  content: "";
  position: relative;
  height: 2px;
  background-color: #8AB3C9;
  top: 6px;
  transition: 0.9s;
  margin: auto;
}

.about2:hover::after {
  width: 0px;
}

.main-div {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  padding-bottom: 9rem;
}

.restakers:hover {
  box-shadow: 0 0 70px #A7DBF2;
}

.operators:hover {
  box-shadow: 0 0 70px #A7DBF2;
}

.avss:hover {
  box-shadow: 0 0 70px #A7DBF2;
}

.restakers, .operators, .avss {
  border: 2px solid #A7DBF2;
}


/* From here the changed design of the User Benefits CSS is starting */
.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  border-radius: 24px;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  height: 380px;
  padding: 36px;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background: #05223B;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card .content {
  flex-grow: 1;
}

.content::before {
  position: absolute;
  content: "";
  top: -2%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%);
  background: white;
  z-index: -1;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::after {
  position: absolute;
  content: "";
  top: -4%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%);
  background: #A7DBF2;
  z-index: -2;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .para {
  z-index: 1;
  opacity: 1;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover {
  transform: translate(0px, -16px);
  cursor: pointer;
}

.card:hover .content::before {
  rotate: -6deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.card:hover .content::after {
  rotate: 6deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.content h2 {
  font-size: 1.5em;
  color: #A7DBF2;
}

.content p {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #f1f1f1;
  flex-grow: 1;
  margin: 0; 
}

.h2OfUB {
  margin-bottom: 0rem;
}