@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Signika:wght@300..700&display=swap");

.aboutVM{
  font-family: "Maven Pro", sans-serif;
  font-size: 2.5vmax;
  position: absolute;
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #dafaf4 0.89%,
    #68e9d1 17.23%,
    #a1fbeb 55.12%,
    #8afee9 71.54%,
    #a7dbf2 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.aboutContainerVM{
  display: flex;
  justify-content: center;
  padding-top: 3vmax;
  margin-bottom: 9vmax;
}

.aboutVM::after {
  display: block;
  width: 100%;
  content: "";
  position: relative;
  height: 2px;
  background-color: #8AB3C9;
  top: 0.375vmax;
  transition: 0.9s;
  margin: auto;
}

.aboutVM:hover::after {
  width: 0px;
}

.cardVM {
  position: relative;
  overflow: hidden;
  transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.cardVM::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 7px;
  height: 100%;
  background: linear-gradient(-45deg, #214965 40%, #214965 70%);
  z-index: -1;
  transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.cardVM:hover::before {
  width: 100%;
}

.fontTagpVision {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Signika";
  font-weight: 400;
  font-size: 1.2vmax;
  line-height: 2vmax;
  margin-bottom: 3.5vmax;
}

.fontTagp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Signika";
  font-weight: 400;
  font-size: 1.2vmax;
  line-height: 2vmax;
}

.featureHeading {
  font-size: 1.5vmax;
  color: #A7DBF2;
  font-weight: 600;
}

.a-aboutsVM {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.9vmax;
  padding: 1.25vmax 1.25vmax;
  border-radius: 10px;
  width: 35vmax;
  background: linear-gradient(
    331deg,
    #42464c -15.56%,
    #283246 12.53%,
    #182237 33.61%
  );
  border: 3px groove #A7DBF2;
}

.a-aboutsVM:hover {
  animation: glowingShadow 2s infinite alternate;
  box-shadow: 100px 100px 100px #5E9CBF;
}

@keyframes glowingShadow {
  0% {
    box-shadow: 0 20px 20px rgba(121, 255, 231, 0.2);
  }
  50% {
    box-shadow: 0 0px 30px rgba(121, 255, 231, 0.8);
  }
  100% {
    box-shadow: 0 0 50px rgba(121, 255, 231, 0.2);
  }
}

.a-analyticsVM {
  margin: 1.875vmax 55vmax 1.875vmax auto;
  position: relative;
  z-index: 5;
}

.a-operatorVM {
  margin: 1.875vmax auto 1.875vmax 55vw;
  position: relative;
  z-index: 5;
}

.a-aboutsVM:hover .a-paragraphVM {
  color: white;
}

.a-imgVM {
  border-radius: 10px;
}

.a-imVM {
  border-radius: 10px;
}

.a-paragraphVM {
  color: #e3e7ee;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Trying to center the content manually coz we need to keep the height of the vision and mission div same regardless of the content they hold */
.a-paragraphVM1 {
  margin-top: 1vmax;
}

.imgVM1 {
  width: 4.3vmax;
  margin-right: 0.37rem;
  height: auto;
}

.imgVM2 {
  width: 5vmax;
  height: auto;
}

@media screen and (max-width: 950px) {
  .a-operatorVM {
    position: relative;
    z-index: 5;
  }

  .a-analyticsVM {
    position: relative;
    z-index: 5;
  }

  .fontTagp {
    margin-bottom: 0.7rem;
  }

  .a-aboutsVM {
    width: 80vw;
    margin: 2rem auto;
    height: fit-content;
  }

  .featureHeading {
    font-size: 1.9vmax;
    margin-bottom: -1.5rem;
  }

  .missionVM {
    margin-top: 0.5rem;
  }

  .pOfVision {
    margin-top: 1.9rem;
    font-weight: lighter;
  }

  .pOfMission {
    margin-top: 2rem;
    font-weight: lighter;
  }

  .fontTagpVision, .fontTagp {
    font-size: 1.7vmax;
  }
}